.contents-row
  .container
    %h2
      Sign up!
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| 
      = devise_error_messages! 

      .field
        = f.label :name
        %i (6文字以内)
        .field__name
          = f.text_field :name, autofocus: true, maxlength: "6"

      .field
        = f.label :email
        .field__address
          = f.email_field :email

      .field
        = f.label :password
        %i (6文字以上)
        .field__pass
          = f.password_field :password, autocomplete: "off"

      .field
        = f.label :password_confirmation
        .field__pass-confirmation
          = f.password_field :password_confirmation, autocomplete: "off"

      .actions
        = f.submit "Sign up" , class: 'sign-btn'