.send-area
  .header
    %a{ href: "/", class: "title__logo"} 
      Animal Search
    .logo-content
      編集する
  .edit-area
    .Post-new
      .Post-new__text
        = @post.text if @post.text?
      .Post-new__date
        = @post.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .Post-new__image
        = image_tag(@post.image.to_s) if @post.image?
    = form_with model: @post, class: "Form",local: true do |f|
      .Form__contents
        = f.text_field :text, class: "Form__inputContent", placeholder: "生き物の名前を入力(空欄不可)"
        = f.label :image, class: "Form__inputImage" do
          = icon("far", "image", class: "Form__icon")
          = f.file_field :image, class: "hidden"
        %button{type: "submit", class:"Form__submit", href: "/"}   
          %i.fas.fa-paper-plane
          .letter
            投稿