.menu
  .header
    .mainTitle
      .mainTitle__logo
        Animal Search
  .body
    .sideMenu
      .new-post
    .mainMenu
      .search
        .search-form
          .search-input
      .category
        .category-upper
          = link_to "#", class: "bugs__icon" do
            = icon('fas', 'bug')
          = link_to "#", class: "fish__icon" do
            = icon('fas', 'fish')  
          = link_to "#", class: "birds__icon" do
            = icon('fas', 'kiwi-bird')
        .category-row
          = link_to "#", class: "amphibian__icon" do
            = icon('fas', 'frog')
          = link_to "#", class: "reptiles__icon" do
            = icon('fas', 'otter')
          = link_to "#", class: "mammalian__icon" do
            = icon('fas', 'paw')