.search
  = form_with class: "search-form", url: search_posts_path, method: :get, local: true do |f|
    = f.text_field :keyword, class: 'search-input', placeholder: "投稿を検索する"
    = f.submit "Search", class: "search-btn"

.post-new
  - @posts.each do |post|
    .post-new__text
      = post.text
    .post-new__category
      = post.category[:name]
      .post-new__area
        = post.area[:name]
    - if user_signed_in?
      .post-new__date
        = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .post-new__image
        = image_tag(post.image.to_s) if post.image?
      = link_to '詳細', post_path(post.id), method: :get, class: "post-new__details" 
      - if user_signed_in?
        = link_to "削除", post, method: :delete, class: "post-new__delete"
        = link_to "編集", edit_post_path(post.id), method: :get, class: "post-new__edit"